In [3]:
# this is a comment, it's for us to read, but the computer ignores it when you run
#edit mode is when the border is green and you can type, press enter to get here from command mode
# command mode is when it's blue, press escape to get there
# use shift + enter to run the cell

# Intro to python

this is my first notebook.

This is a markdown cell it's used for notes and text to go along with the code.  Use menus or press `m` when in command mode to get this in command mode, press `y` to get a code cell.

A python cell can do basic math operations, like addition

In [4]:
4+5

9

We can also assign values to a variable

In [5]:
name = 'sarah'

In [6]:
name

'sarah'

and we can print out values in two different ways.  Above is the notebook specific way and below is the general python way

In [7]:
print(name)

sarah

In [ ]:
# %load code/notebook

In [10]:
# code
print("a =", a, "and b =" , b)
print(a + b)      # addition
print(a * b)      # multiplication
print(a - b)      # subtraction
print(a / b)      # division
print(b ** a)     # exponentiation
print(2 * a % b)  # modulus - returns the remainder
# code

a = 6 and b = 8
14
48
-2
0.75
262144
4

1. Create a new cell and paste into it the assignments to the variables a and b and the contents of the code above. Remove all of the calls to the print function so you only have the expressions that were to be printed and run the code. What is returned?

2. Make a new cell with only `("a =", a, "and b =" , b)` in it. How does this output differ from when we used the print function?

3. Practice assigning values to variables using as many different operators as you can think of.

4. Create some expressions to be evaluated using parentheses to enforce the order of mathematical operations that you require

In [9]:
a= 6
b=4
print("a =", a, "and b =" , b)
print(a + b)      # addition
print(a * b)      # multiplication
print(a - b)      # subtraction
print(a / b)      # division
print(b ** a)     # exponentiation
print(2 * a % b)  # modulus - returns the remainder
# code

a = 6 and b = 4
10
24
2
1.5
4096
0

1. Create a new cell and paste into it the assignments to the variables a and b and the contents of the code above. Remove all of the calls to the print function so you only have the expressions that were to be printed and run the code. What is returned?

2. Make a new cell with only `("a =", a, "and b =" , b)` in it. How does this output differ from when we used the print function?

3. Practice assigning values to variables using as many different operators as you can think of.

4. Create some expressions to be evaluated using parentheses to enforce the order of mathematical operations that you require

In [11]:
a= 6
b=8
("a =", a, "and b =" , b)
(a + b)      # addition
(a * b)      # multiplication
(a - b)      # subtraction
(a / b)      # division
(b ** a)     # exponentiation
(2 * a % b)  # modulus - returns the remainder
# code

4

Note that without the prtin commands, only the last one prints out

In [12]:
b

8

In [13]:
("a =", a, "and b =" , b)

('a =', 6, 'and b =', 8)

see that without the print statement a list with commas prints out withthe () and commas, this is called a tuple, a data type we will see more of later

In [14]:
c = a+b

In [15]:
d = 4*b

In [16]:
c

14

In [17]:
(5 * (5-3))

10

# Functions

In [18]:
print('ajisf')

ajisf

In [19]:
print() # shift + tab shows the help

In [20]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [21]:
name = 'Sarah'
type(name)

str

the `type` function allows us to check the type of a variable.  ther eare a few types we've already seen.

In [21]:
type(a)

int

In [22]:
a= 'a'
type(a)

str

We can use a type name as a function to change the type of a variable

In [23]:
a = int(a)
type(a)

ValueError: invalid literal for int() with base 10: 'a'

but it does not know how to convert all types to all types

In [24]:
e = 3.4
type(e) # make a new variable

float

In [25]:
f = int(e)
print(f)
type(f)

3

int

In [26]:
print(e)

3.4

a `float` stores numbers with decimals, we can cast it to an integer `int`  and that rounds it

In [27]:
g = 3.6
int(g)

3

casting always drops the decimal part, it doesn't round up ever

In [29]:
mystring = "Hello World"
name = 'Sarah'

print(mystring)

Hello World

In [30]:
print(name)

Sarah

We can add strings together:

In [28]:
newstring = "Hello " + name + 'How're you'
# need to use doule quotes if using an apostrophe

SyntaxError: invalid syntax (<ipython-input-28-f5ef33975a8c>, line 1)

In [29]:
newstring = "Hello " + name + " How're you"
# need to use doule quotes if using an apostrophe

In [30]:
print(newstring)

Hello sarah How're you

In [36]:
len(name) #check the length

5

In [37]:
newstring.replace(' ','_')

"Hello_Sarah_How're_you"

In [ ]:
%load code/print.py

Use help to find out what parameters can be provided for the print function and make notes for yourself.

to get help, use `shift` + `tab` or `help()`

In [39]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [40]:
print(name, a,b)

Sarah a 8

In [41]:
print(name,a,b,sep=',')

Sarah,a,8

Fromt he print function help, we learned that we can change the separator between the different parts we watn to print

In [42]:
bool1 = True

In [43]:
bool1

True

In [44]:
5<7

True

In [45]:
type(5<7)

bool

In [46]:
type(7<5)

bool

In [47]:
7<5

False

# %load code/bool
Try to predict what will print for each of the following (use comments to make notes).
Then run the code and summarize
your findings about what how to represent boolean values and how other values cast to
boolean type in either a markdown cell or a comment.
# code

In [50]:
bool_val1 = 'TRUE'
print(type(bool_val1))

<class 'str'>

In [51]:
bool_val2 = 'FALSE'
print(bool(bool_val2))

True

In [53]:
bool_val3 = 1
print(bool(bool_val3))

True

In [54]:
bool_val4 = 0
print(bool(bool_val4))

False

In [55]:
bool_val5 = -1
print(bool(bool_val5))

True

In [57]:
type(bool_val5)

int

In [56]:
bool_val6 = -1
print(bool(bool_val6))

True

# Lists

In [58]:
mylist = [4,7,9,3]
print(mylist)
print(type(mylist))

[4, 7, 9, 3]
<class 'list'>

In [59]:
len(mylist)

4

In [60]:
range(5)

range(0, 5)

In [61]:
type(range(5))

range

In [63]:
range_var = list(range(5))
print(range_var)
len(range_var)

[0, 1, 2, 3, 4]

5

In [64]:
list(range(3,20,3))

[3, 6, 9, 12, 15, 18]

In [66]:
# %load code/index
# code
list7_2 = list(range(2, 11, -2))
# break cell here

1. Predict what the value of `list7_2` will be, is it what you expected? Summarize what a negative step value does.

2. Create a list using the range() function which contains the even numbers between 1 and 10 in reverse order ([10,8,6,4,2])

In [67]:
print(list7_2)

[]

In [68]:
list(range(10,1,-2))

[10, 8, 6, 4, 2]