# My First Notebook

In [1]:
3+3

6

In [2]:
a =2
b = 3.142

In [3]:
b

3.142

In [4]:
a

2

In [5]:
a
b

3.142

In [6]:
type(b)

float

In [7]:
type(a)

int

In [8]:
print('a =', a, 'and b = ', b)
print(a + b) # addition
print(a *b) #multiplication
print(a-b) # subtraction
print(a/b) # dividsion
print( b**a) # exponentiation
print(2*a %b) # modulo - returns remainder

a = 2 and b =  3.142
5.1419999999999995
6.284
-1.142
0.6365372374283896
9.872164
0.8580000000000001

In [9]:
print('a =', a, 'and b = ', b)
print(a + b) # addition
print(a *b) #multiplication
print(a-b) # subtraction
print(a/b) # dividsion
print( b**a) # exponentiation
print(2*a %b) # modulo - returns remainder

a = 2 and b =  3.142
5.1419999999999995
6.284
-1.142
0.6365372374283896
9.872164
0.8580000000000001

In [ ]:
# %load code/notebook
Example code:
# code
print("a =", a, "and b =" , b)
print(a + b)      # addition
print(a * b)      # multiplication
print(a - b)      # subtraction
print(a / b)      # division
print(b ** a)     # exponentiation
print(2 * a % b)  # modulus - returns the remainder
# code

1. Create a new cell and paste into it the assignments to the variables a and b and the contents of the code above. Remove all of the calls to the print function so you only have the expressions that were to be printed and run the code. What is returned?

2. Make a new cell with only `("a =", a, "and b =" , b)` in it. How does this output differ from when we used the print function?

3. Practice assigning values to variables using as many different operators as you can think of.

4. Create some expressions to be evaluated using parentheses to enforce the order of mathematical operations that you require

In [ ]:
# %load code/notebook
Example code:

In [ ]:
# code
print("a =", a, "and b =" , b)
print(a + b)      # addition
print(a * b)      # multiplication
print(a - b)      # subtraction
print(a / b)      # division
print(b ** a)     # exponentiation
print(2 * a % b)  # modulus - returns the remainder
# code

1. Create a new cell and paste into it the assignments to the variables a and b and the contents of the code above. Remove all of the calls to the print function so you only have the expressions that were to be printed and run the code. What is returned?

2. Make a new cell with only `("a =", a, "and b =" , b)` in it. How does this output differ from when we used the print function?

3. Practice assigning values to variables using as many different operators as you can think of.

4. Create some expressions to be evaluated using parentheses to enforce the order of mathematical operations that you require

In [10]:
("a =", a, "and b =" , b)
(a + b)      # addition
(a * b)      # multiplication
(a - b)      # subtraction
(a / b)      # division
(b ** a)     # exponentiation
(2 * a % b)  # modulus - returns the remainder

0.8580000000000001

In [11]:
("a =", a, "and b =" , b)

('a =', 2, 'and b =', 3.142)

In [12]:
print("a =", a, "and b =" , b)

a = 2 and b = 3.142

In [15]:
True & False

False

In [16]:
True | False

True

In [17]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [18]:
true

NameError: name 'true' is not defined

In [19]:
True

True

In [20]:
a = '3.142'
print(type(a))

<class 'str'>

In [21]:
a = float(a)
type(a)

float

In [22]:
a

3.142

In [23]:
greeting = 'hello world'
type(greeting)

str

In [24]:
int(greeting)

ValueError: invalid literal for int() with base 10: 'hello world'

In [25]:
greeting.startswith('hello')

True

In [26]:
greeting.upper()

'HELLO WORLD'

In [27]:
greeting

'hello world'

In [28]:
greeting[1]

'e'

In [29]:
greeting[0]

'h'

In [30]:
mylist = [1,2,3]

In [31]:
mylist

[1, 2, 3]

# Review

- jupyter notebooks combine code and text
- python interpreters can do math
- variables store values
- we can check types with `type` fuction
- we can print by using the `print` fucntion or the last line of a cell
- we can split cells from the edit menu
- jupyter notebooks hae `%load` magic
- index into string and lists with `[]`
- python counts from 0

In [32]:
import pandas

In [33]:
import numpy

In [34]:
import matplotlib

In [ ]:
# %load code/index
# code
list7_2 = list(range(2, 11, -2))
# break cell here

1. Predict what the value of `list7_2` will be, is it what you expected? Summarize what a negative step value does.

2. Create a list using the range() function which contains the even numbers between 1 and 10 in reverse order ([10,8,6,4,2])