# Intro to Python at NSBE45

In [2]:
a = 2
b = 3.14

In [3]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [4]:
a

2

In [5]:
a+b

5.140000000000001

In [6]:
a*4

8

In [8]:
a**2

4

In [ ]:
# to load exercise
%load code/notebook

In [10]:
# %load code/notebook
# Example code:
# code
print("a =", a, "and b =" , b)
print(a + b)      # addition
print(a * b)      # multiplication
print(a - b)      # subtraction
print(a / b)      # division
print(b ** a)     # exponentiation
print(2 * a % b)  # modulus - returns the remainder
# code

a = 2 and b = 3.14
5.140000000000001
6.28
-1.1400000000000001
0.6369426751592356
9.8596
0.8599999999999999

1. Create a new cell and paste into it the assignments to the variables a and b and the contents of the code above. Remove all of the calls to the print function so you only have the expressions that were to be printed and run the code. What is returned?

2. Make a new cell with only `("a =", a, "and b =" , b)` in it. How does this output differ from when we used the print function?

3. Practice assigning values to variables using as many different operators as you can think of.

4. Create some expressions to be evaluated using parentheses to enforce the order of mathematical operations that you require

In [11]:
("a =", a, "and b =" , b)
(a + b)      # addition
(a * b)      # multiplication
(a - b)      # subtraction
(a / b)      # division
(b ** a)     # exponentiation
(2 * a % b)

0.8599999999999999

In [12]:
("a =", a, "and b =" , b)

('a =', 2, 'and b =', 3.14)

In [13]:
print("a =", a, "and b =" , b)

a = 2 and b = 3.14

In [14]:
type(("a =", a, "and b =" , b))

tuple

In [15]:
a

2

In [16]:
a**3

8

In [18]:
5//2

2

In [21]:
b<a

False

In [22]:
1<<a

4

In [23]:
a==b

False

In [24]:
c=a

In [25]:
c

2

In [27]:
a*(2+b)

10.280000000000001

In [28]:
print("a =", a, "and b =" , b,sep='\n')

a =
2
and b =
3.14

In [30]:
print("a =", a, "and b =" , b,sep='      ')

a =      2      and b =      3.14

In [29]:
help(type)

Help on class type in module builtins:

class type(object)
 |  type(object_or_name, bases, dict)
 |  type(object) -> the object's type
 |  type(name, bases, dict) -> a new type
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(...)
 |      __dir__() -> list
 |      specialized __dir__ implementation for types
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __instancecheck__(...)
 |      __instancecheck__() -> bool
 |      check if an object is an instance
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __prepare__(...)
 |      __prepare__() -> dict
 |      used to create the namespace for the class statement
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(...)
 |      __sizeof__() -> int
 |      return memory consumption of the type object
 |
 |  __subclasscheck__(...)
 |      __subclasscheck__() -> bool
 |      check if a class is a subclass
 |
 |  __subclasses__(...)
 |      __subclasses__() -> list of immediate subclasses
 |
 |  mro(...)
 |      mro() -> list
 |      return a type's method resolution order
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __abstractmethods__
 |
 |  __dict__
 |
 |  __text_signature__
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __base__ = <class 'object'>
 |      The most base type
 |
 |  __bases__ = (<class 'object'>,)
 |
 |  __basicsize__ = 864
 |
 |  __dictoffset__ = 264
 |
 |  __flags__ = 2148291584
 |
 |  __itemsize__ = 40
 |
 |  __mro__ = (<class 'type'>, <class 'object'>)
 |
 |  __weakrefoffset__ = 368

In [31]:
type(a)

int

In [32]:
a_float = float(a)
a_float

2.0

In [33]:
a= float(a)

In [34]:
type(a)

float

In [35]:
a = int(a)

In [40]:
sum(a,b)

TypeError: 'int' object is not iterable

In [37]:
sum([a,b])

5.140000000000001

In [38]:
my_sum  = sum([2,3,4])

In [39]:
type([2,4,5])

list

In [41]:
mystring = "Hello World"
mystring

'Hello World'

In [43]:

name = 'Sarah'
print(name)

Sarah

In [44]:
len(mystring)

11

In [46]:
mystring.startswith('H')

True

In [48]:
name = 'sarah'

In [49]:
name.upper()

'SARAH'

In [50]:
name.capitalize()

'Sarah'

In [51]:
name.lower()

'sarah'

In [52]:
mystring.replace('Hello','Hi')

'Hi World'

In [57]:
mystring[6]

'W'

In [58]:
mystring[-1]

'd'

In [60]:
mystring[-3:]

'rld'

In [61]:
mystring[2:5]

'llo'

In [63]:
mystring[a]

'l'

In [66]:
mystring[:5]

'Hello'

In [ ]:
mystring[5]

In [ ]:
# %load code/bool

Try to predict what will print for each of the following (use comments to make notes).
Then run the code and summarize
your findings about what how to represent boolean values and how other values cast to
boolean type in either a markdown cell or a comment.

In [69]:
bool_val1 = 'TRUE'
print(type(bool_val1))

<class 'str'>

In [70]:
bool_val2 = 'FALSE'
print(bool(bool_val2))

True

In [71]:
bool_val3 = 1
print(bool(bool_val3))

True

In [72]:
bool_val4 = 0
print(bool(bool_val4))

False

In [73]:
bool_val5 = -1
print(bool(bool_val5))

True

In [74]:
bool_val6 = -1
print(bool(bool_val6))
# break cell here

True

In [76]:
type(bool_val6)

int

In [77]:
bool('Y')

True

In [78]:
bool('N')

True

In [79]:
range(5)

range(0, 5)

In [80]:
type(range(5))

range

In [81]:
list(range(5))

[0, 1, 2, 3, 4]

In [82]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [81]:
list(range())

[0, 1, 2, 3, 4]

In [84]:
# %load code/index
# code
list7_2 = list(range(2, 11, -2))
# break cell here
list7_2

[]

1. Predict what the value of `list7_2` will be, is it what you expected? Summarize what a negative step value does.

2. Create a list using the range() function which contains the even numbers between 1 and 10 in reverse order ([10,8,6,4,2])

In [85]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [86]:
mystring[:5]

'Hello'

In [ ]:
range()