# Joining Pandas DataFrames

In [1]:
import pandas as pd

In [2]:
safi_god = pd.read_csv('data/SAFI_God.csv')
safi_Ruaca = pd.read_csv('data/SAFI_Ruaca.csv')

In [3]:
safi_god.head(2)

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
0,1,God,2016-11-17T00:00:00Z,3,4,muddaub,1,NaN,NaN,1,bicycle;television;solar_panel;table,2,Jan,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
1,1,God,2016-11-17T00:00:00Z,7,9,muddaub,1,yes,once,3,cow_cart;bicycle;radio;cow_plough;solar_panel;...,2,Jan;Sept;Oct;Nov;Dec,uuid:099de9c9-3e5e-427b-8452-26250e840d6e

In [4]:
safi_Ruaca.tail(2)

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
47,193,Ruaca,2017-06-04T00:00:00Z,7,10,cement,3,no,more_once,3,car;lorry;television;radio;sterio;cow_plough;s...,3,none,uuid:5ccc2e5a-ea90-48b5-8542-69400d5334df
48,194,Ruaca,2017-06-04T00:00:00Z,4,5,muddaub,1,no,more_once,1,radio;solar_panel;solar_torch;mobile_phone,3,Sept;Oct;Nov,uuid:95c11a30-d44f-40c4-8ea8-ec34fca6bbbf

In [5]:
safi_Ruaca.columns

Index(['key_ID', 'village', 'interview_date', 'no_membrs', 'years_liv',
       'respondent_wall_type', 'rooms', 'memb_assoc', 'affect_conflicts',
       'liv_count', 'items_owned', 'no_meals', 'months_lack_food',
       'instanceID'],
      dtype='object')

In [6]:
safi_god.columns

Index(['key_ID', 'village', 'interview_date', 'no_membrs', 'years_liv',
       'respondent_wall_type', 'rooms', 'memb_assoc', 'affect_conflicts',
       'liv_count', 'items_owned', 'no_meals', 'months_lack_food',
       'instanceID'],
      dtype='object')

In [7]:
safi_all = pd.concat([safi_god,safi_Ruaca])
safi_all.shape

(92, 14)

In [8]:
safi_god.shape

(43, 14)

In [9]:
safi_nums = pd.read_csv('data/SAFI_numCols.csv')
safi_char = pd.read_csv('data/SAFI_charCols.csv')

In [10]:
print(safi_nums.columns)
print(safi_char.columns)

Index(['instanceID', 'no_membrs', 'years_liv', 'rooms'], dtype='object')
Index(['instanceID', 'village', 'respondent_wall_type', 'items_owned'], dtype='object')

In [11]:
safi_allcols = pd.concat([safi_nums,safi_char],axis=1)
safi_allcols.columns

Index(['instanceID', 'no_membrs', 'years_liv', 'rooms', 'instanceID',
       'village', 'respondent_wall_type', 'items_owned'],
      dtype='object')

In [13]:
safi_allbymerge = pd.merge(safi_nums, safi_char, 
                           how='inner',on= 'instanceID')